In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
import numpy as np
import pandas as pd
import sklearn.manifold as manifold
import sklearn.cluster as cluster
import hdbscan
import seaborn as sns
import os

In [40]:
data_folder = '../data'
filenames = os.listdir(data_folder)

In [41]:
df = None
relevant_cols = ['State', '# Killed', '# Injured']
for filename in filenames:
    print(f'Processing {filename}')
    file_path = f'{data_folder}/{filename}'
    df1 = pd.read_csv(file_path)
    df1['# Killed'] = df1['# Killed'].astype(dtype='float64')
    df1['# Injured'] = df1['# Injured'].astype(dtype='float64')
    df1 = df1[relevant_cols]
    df1 = df1.rename(index=str, columns={'# Killed': f'{filename} # Killed', 
                                  '# Injured': f'{filename} # Injured'})
    df1 = df1.groupby('State').sum()
    if df is not None:
        df = df.join(df1)
    else:
        df = df1

Processing accidental_deaths.csv
Processing accidental_deaths_children.csv

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [32]:
filename = 'accidental_deaths.csv'
file_path = f'{data_folder}/{filename}'
relevant_cols = ['State', '# Killed', '# Injured']

In [33]:
df = pd.read_csv(file_path)
df['# Killed'] = df['# Killed'].astype(dtype='float64')
df['# Injured'] = df['# Injured'].astype(dtype='float64')
df = df[relevant_cols]
df = df.rename(index=str, columns={'# Killed': f'{filename} # Killed', 
                              '# Injured': f'{filename} # Injured'})
df = df.groupby('State').sum()

In [34]:
len(df)

47

In [35]:
df.head()

            accidental_deaths.csv # Killed  accidental_deaths.csv # Injured
State
Alabama                               14.0                              0.0
Alaska                                 5.0                              0.0
Arizona                                8.0                              0.0
Arkansas                              13.0                              0.0
California                            17.0                              1.0

In [36]:
filename = 'accidental_deaths_children.csv'
file_path = f'{data_folder}/{filename}'
relevant_cols = ['State', '# Killed', '# Injured']
df1 = pd.read_csv(file_path)
df1['# Killed'] = df1['# Killed'].astype(dtype='float64')
df1['# Injured'] = df1['# Injured'].astype(dtype='float64')
df1 = df1[relevant_cols]
df1 = df1.rename(index=str, columns={'# Killed': f'{filename} # Killed', 
                              '# Injured': f'{filename} # Injured'})
df1 = df1.groupby('State').sum()

In [37]:
df1.head()

,accidental_deaths_children.csv # Killed,accidental_deaths_children.csv # Injured
State,,
Alabama,9.0,2.0
Alaska,5.0,0.0
Arizona,4.0,0.0
Arkansas,5.0,0.0
California,4.0,0.0

In [38]:
df2 = df.join(df1)

In [39]:
df2.head()

,accidental_deaths.csv # Killed,accidental_deaths.csv # Injured,accidental_deaths_children.csv # Killed,accidental_deaths_children.csv # Injured
State,,,,
Alabama,14.0,0.0,9.0,2.0
Alaska,5.0,0.0,5.0,0.0
Arizona,8.0,0.0,4.0,0.0
Arkansas,13.0,0.0,5.0,0.0
California,17.0,1.0,4.0,0.0